.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      /* 0 0 21px #fff, */
      0 0 42px #f0a,
      0 0 82px #f0a,
      0 0 92px #f0a,
      0 0 102px #f0a,
      0 0 151px #f0a,
      0 0 300px #f0a;
}

/* Additional styling */
  
body {
    font-size: 18px;
    font-family: "Impact";
    min-height: 100vh;
    background:
      radial-gradient(
        circle at 50% 90%,       /* lower middle */
        rgb(208, 255, 182) 0%,
        #0a0536 60%
      );
      
    background-color: #0a0536;
    background-color: #0a0536;
}  

h1, h2 {
    text-align: right;
    font-weight: bold;
}
  
h1 {
    font-size: 4rem;
    
}
  
h2 {
    font-style: italic;
    font-size: 3rem;
    animation: flicker 1.5s infinite alternate;   

}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {

        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        /* 0 0 21px #fff, */
        0 0 42px #f0a,
        0 0 82px #f0a,
        0 0 92px #f0a,
        0 0 102px #f0a,
        0 0 151px #f0a,
        0 0 300px #f0a;
    
    }
  
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}
.container {
  position: absolute;
    text-align: right;

    top: 10rem;
    right: 20rem;
    margin-top: 0;
}

